<!doctype html>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />


<title>MTGScan</title>
<h1 class="center-text">Convert deck image to decklist</h1>

<div class="form-mtgscan">
    <form method=post enctype=multipart/form-data>
        <input type=file name=file> <br>
        Or URL: <input type="text" name="url_image" size=30
            value="https://pbs.twimg.com/media/ErEUxrxXMAQI-3B?format=jpg&name=large"> <br> <br>
    </form>
</div>    
<div class="form-mtgscan">
    <form method=post enctype=multipart/form-data>
        <input type=submit value="Scan image" onclick="$('.loader').show();">
    </form>
</div>

<div class="loader center" style="display:none;"></div>

<pre>{{ deck }}</pre>

<br>

{% if image %}
<img src="{{ url_for('uploaded_file', filename=image) }}">
{% endif %}