{% extends "bootstrap/base.html" %}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />

{% block title %}mtgscan app{% endblock %}

{% block content %}

<h1 class="center-text">Convert deck image to decklist</h1>

<form method=post enctype=multipart/form-data>
    <input type=file name=file> <br>
    Or URL: <input type="text" name="url_image" size=30
        value="https://pbs.twimg.com/media/ErEUxrxXMAQI-3B?format=jpg&name=large">
    <input type=submit value="Scan image" onclick="document.getElementsByClassName('loader')[0].style.display = 'block';">
</form>

<div class="loader center" style="display:none;"></div>

<pre>{{ deck }}</pre>

<br>

{% if image %}
<img src="{{ url_for('uploaded_file', filename=image) }}">
{% endif %}

{% endblock %}
    