<!doctype html>

<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />

    <title>Mtgscan</title>

    <h2 class="center-text">Convert an image to mtg decklist</h1>

    <form id="scan" class="center center-text" method="POST" enctype="multipart/form-data" action="#">
        <input id="file" type="file" name="file"> <br>
        Or URL:
        <input id="url" type="text" name="url_image" size=30
            value="https://user-images.githubusercontent.com/49362475/105632710-fa07a180-5e54-11eb-91bb-c4710ef8168f.jpeg"">
        <input type="submit" value="Scan image">
    </form><br>
    
    <img id="image" /><br>

    <textarea class="center" id="decklist" style="display:none;height:300px;width:100%" readonly></textarea>

    <div class="loader center" style="display:none"></div>

    </script>