<!doctype html>

<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
        integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />

    <title>Mtgscan</title>

    <h1 class="center-text">Convert an image to mtg decklist</h1>

    <form id="scan" class="center center-text" method="POST" enctype="multipart/form-data" action="#">
        <input type="file" name="file"> <br>
        Or URL:
        <input id="url" type="text" name="url_image" size=30
            value="https://user-images.githubusercontent.com/49362475/105632710-fa07a180-5e54-11eb-91bb-c4710ef8168f.jpeg"">
        <input type="submit" value="Scan image">
    </form>

    <br>
    <textarea class="center" id="decklist" style="display:none;height:400px;" readonly></textarea>

    <div class="loader center" style="display:none"></div>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            const socketio = io.connect('http://' + document.domain + ':' + location.port);
            $("form#scan").submit(event => {
                $(".loader").show();
                socketio.emit("scan", { "image": $("#url").val(), "id": socketio.id });
                return false;
            });

            socketio.on("scan_result", msg => {
                $(".loader").hide();
                // $("#decklist").text(msg.decklist);
                let deck = "";
                for (const card in msg.deck) {
                    deck += `${msg.deck[card]} ${card}\n`;
                }
                $("#decklist").text(deck.slice(0, -1));
                $("#decklist").show();
                // $("#image").attr("server", msg.image);
            });
        });
    </script>